:root {
    --grey-border: #c8c8c8;
    --grey-back-odd: #eee;
    --grey-back-even: #e2e2e2;
    --true: rgba(124, 218, 119, .5);
    --base: #1a355b;
    --bacground: #202125; 
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

header, footer {
    padding: 1rem 0;
    background-color: var(--base);
}

section {
    padding: 3.2rem 0;
}

section:nth-child(odd) {
    background-color: var(--grey-back-odd);
}

section:nth-child(even) {
    background-color: var(--grey-back-even);
}

.container {
    width: 1170px;
    margin: 0 auto;
}

h1, p {
    text-align: center;
    color: #fff;
}

p {
    font-size: 1rem;
}

h1 {
    font-weight: 500;
}

h2 {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    margin: 1rem 0;
}

h2::after {
    content: "";
    height: 0.25rem;
    width: 10rem;
    background-color: var(--base);
    display: block;
    margin: 1rem auto;
    border-radius: 50%;
}

.table {
    width: 100%;
    margin: 2rem 0;
}

.trow {
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    border-top: 1px solid var(--grey-border);
    background-color: #fff;
}

.trow:first-child {
    background-color: var(--base);
    font-weight: 500;
    color: #fff;
}

.trow:last-child {
    border-bottom: 1px solid var(--grey-border);
}

.tcell {
    padding: 1rem 0;
    text-align: center;
    border-left: 1px solid var(--grey-border);
}

.tcell:last-child {
    border-right: 1px solid var(--grey-border);
}

#truth-table .tcell {
    width: 20%;
}

#truth-table .tcell:first-child, #truth-table .tcell:nth-child(2) {
    width: 10%;
}

#flexible-comparison .tcell,
#tough-comparison .tcell {
    width: 11.11%;
}

#flexible-comparison .tcell:first-child,
#tough-comparison .tcell:first-child {
    background-color: var(--base);
    font-weight: 500;
    color: #fff;
}

.true {
    background-color: var(--true);
}
